.add-project-popup {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 120%; right: 0;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 2vw;
    border-radius: 2vw;
}
.add-project-popup.show { visibility: visible; }
.add-project-popup form p input {
    margin-top: 0.5vw;
    padding: 0.7vw 1vw;
    font-size: 0.9rem;
    background-color: rgb(227, 227, 227);
    border: 0;
    outline: 0;
    border-radius: 0.5vw;
}
.add-project-popup form > input {
    border: 0;
    background-color: lightgray;
    padding: 0.7vw 2vw;
    border-radius: 1vw;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.8rem;
}